[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.12"
django-filter = "*"
django-user-agents = "*"
django-cors-headers = "*"
python-binance = "==1.0.3"
numpy = "*"
pandas = "==1.2.0"
dataclasses = "*"
hiredis = "*"
requests = "*"
psycopg2-binary = "*"
jpush = "*"
django-redis-cache = "==2.1.1"
pandas_ta = "==0.3.2b0"
django-bootstrap4 = "*"
django-compressor = "*"
django-sass-processor = "==0.5.8"
django-countries = "*"
django-mathfilters = "*"
yunpian-python-sdk = "*"
django-ipware = "*"
gunicorn = "*"
ua-parser = "*"
certifi = "*"
celery = "==4.1.1"
pycrypto = "*"
shortuuid = "*"
websocket-client = "==0.57.0"
PyYAML = "*"
Fabric3 = "*"

[requires]
python_version = "3.7"
