body {
  font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
  .container-fluid{
    padding-top: 50px;
  }

  .alert{
    padding: 5px 10px;
    font-size: 16px;
  }
}
